@import 'burger-menu.css';

::before,
::after,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #f2f2f2;
}

.container {
     max-width: 1020px;
     overflow-x: hidden;
    margin: 0 auto;
}


.wrapper {
    max-width: 939px; 
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* header */
.header {
    background-color: #2d303a;
    padding: 29px 0;
    box-shadow: 0 6px 0 0 #323746;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

/* logo */
.logo__name {
    text-transform: uppercase;
    font-size: 25px;
    color: #fff;
    letter-spacing: -0.5px;
}

.logo__name::after {
    content: '*';
    vertical-align: top;
    color: #f06c64;
}

/* navigation */
.navigation__list {
    display: flex;
    align-items: center;
}
.navigation__item {
    position: relative;
}

.navigation__item:not(:first-child)::before{
    content: '';
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 11px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #494e62;
}

.navigation__item + .navigation__item {
    padding: 0 0 3px 28px;
}

.navigation__link {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    transition: .15s linear;
    outline: none;
    line-height: 1.33;
}

.navigation__link:hover:not(.active),
.navigation__link:focus:not(.active) {
    opacity: .7;
}

.header .burger__menu {
    display: none;
}

/* Active Nav */
.active {
    color: #f06c64;
    cursor: default;
}


/* main */
.main {
    padding-top: 6px;
}


/* slider */
.slider {
    width: 100%;
    height: 595px;
    background-color: #f06c64;
    position: relative;
    box-shadow: 0 6px 0 0 #ea676b;
    position: relative;
}

.arrow {
    position: absolute;
    width: 27px;
    height: 27px;
    top: 50%; transform: translateY(-50%);
    transition: .2 ease-in-out;
    cursor: pointer;
}

.arrow img {
    display: block;
    width: 100%;
}

.arrow:hover,
.arrow:focus {
    opacity: .6;
}

.arrow--back {
    left: 3.6%;
}

.arrow--back:active {
    left: 3%;
}

.arrow--next {
    right: 3.6%;
}

.arrow--next:active {
    right: 3%;
}


/* phone */
.phone__container {
    height: 595px;
    display: flex;
    align-items: center;
}

.phone--vertical,
.phone--horizontal{
    overflow: hidden;
    margin: 0 0 5px 73px;
}

.phone--vertical {
    width: 26%;
    height: 82%;
}

.phone--horizontal {
    width: 52%;
    height: 41%;
}


.phone__img {
    display: block;
    width: 100%;
}


/* our-service */
.our-service {
    width: 100%;
    padding: 65px 0 30px 0;
    box-shadow: 0 5px 0 #fff;
    margin-bottom: 5px;
}

.our-service__title {
    color: #666d89;
    font-family: "Lato-Black", sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 20px;
}

.our-service__desc {
    color: #767e9e;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.666;
    margin-bottom: 46px;
}

/* our-service-cards */
.our-service__cards {
    display: flex;
    flex-wrap: wrap;
}

.our-service__card {
    display: flex;
    width: calc(100% / 3 - 14px);
    margin-bottom: 33px;
}

.our-service__card:nth-child(3n+2) {
    margin: 0 21px;
}

.card__icon {
    width: 59px;
    height: 59px;
    border-radius: 50%;
    border: 2px solid #666d89;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 20px;
}

.card__desc__title {
    color: #666d89;
    font-family: "Lato-Black", sans-serif;
    font-size: 18px;
    margin-bottom: 9px;
    line-height: 1;
}

.card__desc__text {
    color: #767e9e;
    font-size: 12px;
    line-height: 1.79;
}


/* portfolio */
.portfolio {
    padding: 65px 0 48px 0;
    background-color: #2d303a;
    box-shadow: 0 5px 0  #323746;
    margin-bottom: 5px;
}

.portfolio__title {
    color: #666d89;
    font-family: "Lato-Black", sans-serif;
    font-size: 30px;
    margin-bottom: 18px;
    text-transform: capitalize;
}

.portfolio__desc {
    color: #767e9e;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.7;
    margin-bottom: 10px;
}


/* portfolio-tabs */

.portfolio__tabs {
    margin-bottom: 19px;
}

.portfolio__tabs .tabs__list{
    display: flex;
}

.tabs__list .active {
    color: #dedede;
    border: 1px solid #c5c5c5;
}

.tabs__item {
    color: #767e9e;
    font-size: 12px;
    line-height: 21.56px;
    border: 1px solid #666d89;
    padding: 0 7px;
    border-radius: 5px;
    cursor: pointer;
}

.tabs__list li + li {
    margin-left: 8px;
}


/* portfolio project */
.portfolio__project {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}


.project__card {
    width: calc(100% / 4 - 20px);
    height: 187px;
    background-color: red;
    margin: 0 10px 20px;
    overflow: hidden;
}

.project__card__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* about-us */ 
.about-us {
    padding: 59px 0 65px 0;
    box-shadow: 0 5px 0 #fff;
    margin-bottom: 5px;
}

.about-us__title {
    color: #666d89;
    font-family: "Lato-Black", sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 18px;
}

.about-us__desc {
    color: #767e9e;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.7;
    margin-bottom: 45px;
}

.about-us__workers {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.worker {
    width: calc(100% / 3 - 20px);
    margin: 0 10px;
}

.worker__photo {
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
    overflow: hidden;
}

.worker__photo img {
    display: block;
    width: 100%;
}

.worker__fullname {
    color: #666d89;
    font-size: 18px;
    font-family: "Lato-Black";
    letter-spacing: -0.2px;
    margin-bottom: 8px;
}

.worker__about-me {
    color: #767e9e;
    font-size: 12px;
    line-height: 21.56px;
    letter-spacing: -0.1px;
    margin-bottom: 24px;
}


.about-us__social {
    display: flex;
}

.about-us__social li + li {
    margin-left: 8px;
}

.social-icon {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    border: 1px solid #666d89;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .15s linear;
    position: relative;
}

.social-icon:hover {
    transform: translateY(-2px);
}

.social-icon a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: transparent;
}


/* get-quote */

.get-quote {
    background-color: #f06c64;
    padding: 58px 0 55px;
    box-shadow: 0 5px 0 #ea676b;
    margin-bottom: 5px;
}

.get-quote__title {
    color: #f0d8d9;
    font-family: "Lato-Black";
    font-size: 30px;
    letter-spacing: -.2px;
    margin-bottom: 18px;
}

.get-quote__desc {
    color: #f0d8d9;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: -.25px;
    margin-bottom: 43px;
}

.get-coute__flex-container {
    display: flex;
}

/* form */
.form__get-coute {
    width: 66%;
}

.form__group {
    margin-bottom: 15px;
}

.form__group input,
.form__group textarea {
    appearance: none;
    border: none;
    background-color: #d6564f;
    outline-color: silver;
    color: #fff;
    border-radius: 5px;
}

.form__group input {
    padding: 12px 14px;
    width: 100%;
}

.form__group input::placeholder,
.form__group textarea::placeholder {
    color: #f48c8f;
    font-size: 12px;
    letter-spacing: -0.2px;
}

.form__group textarea::placeholder {
    letter-spacing: -1.3px;
}

.form__group textarea {
    width: 100%; 
    height: 203px;
    resize: none;
    padding: 13px 16px;
}


/* contacts */
.contacts {
    width: 34%;
    padding-left: 20px;
}

.contacts__title {
    color: #f0d8d9;
    font-family: "Lato-Black";
    font-size: 18px;
    margin-bottom: 7px;
}

.contacts__text {
    color: #f0d8d9;
    font-size: 12px;
    letter-spacing: -.2px;
    line-height: 1.8;
    margin-bottom: 29px;
}

.contacts__item,
.contacts__item a {
    color: #f0d8d9;
    font-size: 12px;
}

.contacts__item {
    margin-bottom: 6px;
}

.contacts__item img {
    margin-right: 14px;
}


/* footer */

.footer {
    background-color: #2d303a;
    padding: 20px 0;
}

.footer__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copy {
    font-size: 12px;
    color: #666d89;
    cursor: pointer;
    transition: .15s linear;
}

.footer__copy:hover {
    opacity: .7;
}




@media (max-width: 768px) {
    .wrapper {
        padding: 0 49px;
    }


    /* slider */
    .slider {
        height: 447px;
    }
    .phone__container {
        height: inherit;
        align-items: stretch;
    }
    .phone--vertical {
        width: 180px;
        height: 363px;
        margin-top: 40px;
    }
    .phone--horizontal {
        width: 363px;
        height: 180px;
        margin-top: 133px;
    }
    .phone--vertical,
    .phone--horizontal {
        margin-left: 41px;
        margin-right: 41px;
    }

    /* our-service */
    .our-service {
        padding: 40px 0 25px;
    }
    .our-service__desc {
        margin-bottom: 29px;
    }
    .our-service__card {
        width: calc(100% / 2 - 30px);
        margin-bottom: 39px;
    }
    .our-service__card:nth-child(3n+2) {
        margin: 0;
    }
    .our-service__card:nth-child(even) {
        margin-left: 59px;
    }
    .card__desc__text {
        text-align: justify;
    }


    /* portfolio*/
    .portfolio__tabs {
        margin-bottom: 28px;
    }


    .project__card {
        width: calc(100% / 3 - 20px);
        height: 183px;
    }
}

@media (max-width: 375px) {
    .wrapper {
        padding: 0 32px;
    }

    /* header */
    .header {
        padding: 24px 0;
    }
    .header__flex {
        justify-content: center;
    }
    .logo__name {
        font-size: 19px;
    }
    .header__navigation {
        display: none;
    }
    .header .burger__menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

    /* slider */
    .slider {
        height: 218px;
    }
    .arrow--back {
        left: 10px;
    }
    .arrow--back:active {
        left: 5px;
    }
    .arrow--next {
        right: 10px;
    }
    .arrow--next:active {
        right: 5px;
    }

    .phone--vertical {
        max-width: 88px;
        max-height: 177px;
        margin-top: 20px;
    }
    .phone--horizontal {
        max-width: 177px;
        max-height: 88px;
        margin-top: 65px;
    }
    
    .phone--vertical {
       margin-left: 16px;
       margin-right: 16px;
    }
    .phone--horizontal {
        margin-left: 0;
        margin-right: 0;
    }


    /* our-service */
    .our-service {
        padding: 25px 0 15px;
    }
    .our-service__desc {
        margin-bottom: 25px;
    }
    .our-service__card:nth-child(even) {
        margin-left: 0;
    }
    .our-service__card {
        width: calc(100% / 1);
        margin-bottom: 39px !important;
    }
    .our-service__card:last-child {
        margin-bottom: 0 !important;
    }


    /* portfolio*/
    .portfolio {
        padding: 42px 0 32px;
    }
    .portfolio__project {
        margin: 0 -5px;
    }
    .project__card {
        width: calc(100% / 2 - 10px);
        height: 128px;
        margin: 0 5px 10px;
    }
}